.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-20) 120px;
  border-bottom: 1px solid var(--gray-3);
  position: sticky;
  top: 0;
  background-color: var(--white);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 2;
}

.header:first-child {
  cursor: pointer;
}

.navList {
  display: flex;
  column-gap: var(--space-40);
  align-items: center;
}

.navList > * {
  cursor: pointer;
}

.title {
  color: var(--text-color-secondary);
  font-weight: var(--font-weight-600);
}

.cartContainer {
  position: relative;
}

.badge {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: var(--danger-base);
  border-radius: var(--space-24);
  width: var(--space-20);
  text-align: center;
  color: var(--white);
  font-size: var(--font-size-12);
}
